{% extends "base.html.twig" %}

{% block title %} Notification!{% endblock %}

{% block body %}
<div class="container">
    <p >Hello <strong>{{ user.email }} 👋 ,</strong></p>
    <p> Symfony Mailer and Messenger it's work ! 😃... </p>
</div>
{% endblock %}
